h4 My Courses
div.list-group(style = 'margin-top: 15px;')
  each course in userCourses
    a.list-group-item(href='/course/'+course.id, style='padding: 8px')= course.courseid
h4 Search
form.col-md-12.input-group(action='/search',method='post')
  input.form-control(type='text',name="query",placeholder="e.g. probabilistic")
  span.input-group-btn
    button.btn.btn-default(type='submit') Search

